.footer{
    display: flex;
    flex-direction: column;
    background-color: #454d5e;
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
}
.footerHigh{
    height: 125px;
}

.footerLow{
    height: 25px;
}
