.footer {
  display: flex;
  flex-direction: column;
  background-color: #4E944F;
  padding-top: 10px;
  padding-bottom: 0px;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
.footerHigh {
  height: 125px;
}

.footerLow {
  height: 25px;
}

.design{
  color: #070E59;;
  padding-right: 100px;
  padding-left: 100px;
}
