.allDomacinstva {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Domacinstvo {
  width: 500px;
}
.inputtt {
  display: flex;
  flex-direction: column;
}
