.allDomacinstva {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}
.Domacinstvo {
  width: 500px;
}

.container{
  background-image: url('../pictures/Meteor.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}