.search {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  /* align-items: center; */
  background-color: #E1E8C9;
  height: 100vh;
}
.searchDiv {
  background-size: cover;
  background-color: #E1E8C9;
}

.container
{
    background-image: url('../pictures/wave.png');
    /* width: 100%;
    height: 100%; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.searchDiv > input {
  height: 100%;
  font-size: 18px;
}

.searchDiv > button {
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}

.divForma {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: #E1E8C9;
  width: 100%;
}

.divWorks {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.enabled {
  cursor: pointer;
}

.card {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.buttonDesign{
  border-radius: 8px;
}

.buttonDesign:hover{
  background-color: #B4E197;
}

.lokacijaDesign{
  border-radius: 8px;
}
