.body {
  height: 100%;
  width: 100%;
}
.html {
  height: 100%;
  width: 100%;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 150px;
  width: 100%;
}

<<<<<<< HEAD
=======


>>>>>>> 8dc4baaf1aec1a8b7a8b85f37e96ea8f8a1bbcfb
.App-footer {
  display: flex;
  flex-direction: column;
  color: white;
  height: 150px;
}
