.mainDesign{
    height: 100%;
    margin-top: 2%;
}

.divDesign{
    display: flex;
    flex-direction: row;
    height: 10%;
    padding-left: 20%;
    padding-bottom: 1%;
    align-items: center;
}

.labelLeft{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    width: 40%;
}
.labelRight{
    height: 100%;
    font-size: 20px;
    width: 60%;
}