
.mainStyle{
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    height: 100%;
    width: 100%;
}

.profileHeader{
    display: flex;
    background-color: aquamarine;
    height: 30%;
    width: 100%;
}
.logoHeader{
    width: 30%;
    height: 100%;
}

.infHeader{
    width: 70%;
    height: 100%;
}