.divGlavni
{
    display: flex;
    flex-direction: row;
    
}
.pretragaDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

h1
{
    color: rgb(12, 19, 26);
}

.container
{
    background-image: url('../../pictures/vp.jpg');
    width: 100%;
    height: 800px;
}
.divProducts
{
    display: flex;
    flex-direction: row;
}


.category
{
    width: 205px;
    height: 40px;
}
.buttonPretraga
{
    height: 40px;
}
.txbBox
{
    width: 205px;
    height: 40px;
}
