
.lowerBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
}
.leftSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: none;
}
.dugme{
    margin-left: 3px;
}
